@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.navigation-title-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100%;
    width: 10%;
    margin-left: 16%;
}

.navigation-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    width: 50%;
    height: 100%;
    padding: 6px 14px;
    transition: 0.5s;

}

.nav-main-container {
    display: flex;
    flex-direction: column;
    background: transparent ;
    backdrop-filter: blur(40px);
   border: 1px solid rgba(255, 255, 255, .2);
    height: 920px;
    width: 83%;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 16%;

}

.upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: transparent;
    height: 500px;
    width: auto;
}




/*UPDATE IMAGE CONTAINER SECTION-----------------------------------------*/
.update-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    height: 450px;
    width: auto;
    margin: 20px;
}


.settings-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 400px;
    background: transparent;
    border-radius: 15px;
    text-align: left;
    color: #333;
}

.settings-picture img {
 
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 20%;
margin-left: 50px;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #ffffff;
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    padding: 12px;
    margin: 10px;
    margin-left: 80px;
}

label:hover {
    background: rgba(255, 255, 255, .2);
}

input {
    display: none;
}

/*ANONYMOUS CONTAINER SECTION-----------------------------------------*/
.anonymous-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    height: 450px;
    width: 550px;
    margin-left: 5px;
    margin-top: 20px;
}

.option-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    color: #fff;
    margin-top: -4px;
    font-size: 30px;
    height: 675x;
    width: 100%;
}

.anonymous-status {
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    margin-top: 0px;
    font-size: 25px;
    width: 700px;
    text-align: center;
}

.option-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;

    width: 100%;

}


.check-button {
    display: flex;
    text-align: center;
    justify-content: center;
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 140px;
    margin-top: 12%;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.check-button:hover {
    background: rgba(0, 255, 42, 0.2);

}

.x-button {
    display: flex;
    text-align: center;
    justify-content: center;
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 140px;
    margin-top: 12%;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.x-button:hover {
    background: rgba(255, 0, 0, 0.2);

}

/*DEELTE ACCOUNT CONTAINER SECTION-----------------------------------------*/
.delete-account-container {
      display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    height: 450px;
    width: 300px;
    margin-left: 25px;
    margin-top: 20px;

}

.delete-account-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: rgb(255, 117, 117);
    color: #fff;
    margin-top: -4px;
    font-size: 30px;
    height: 60px;
    width: 100%;
    margin-bottom: 50px;
}
.check-delete-account-button  {
    display: flex;
    text-align: center;
    justify-content: center;
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .2);
    font-size: 140px;
    margin-top: 12%;
    height: 150px;
    width: 150px;
    border-radius: 20px;

}


.check-delete-account-button:hover {
    background: rgba(0, 255, 42, 0.2);

}

.popup-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
    text-align: center;
}


.confirm-delete-button a{
    color: black ;
    text-decoration: none;
}

/* Modal close button style */
.close-popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/*USER DESCRIPTION CONTAINER SECTION-----------------------------------------*/
.down-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 500px;
    width: auto;
}

.user-description-container {
    display: flex;
    background: transparent;
   border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 10px;
    height: 390px;
    width: 1900px;
    margin: 10px
}

.description-box {
    display: flex;
    flex-direction: flex-start;
    background:transparent;
    height: 95%;
    width: 100%;
    margin: 10px;
    border-radius: 20px;

}

.input-description-container {
    border-radius: 20px;
    height: 95%;
    width: 100%;
    padding: 7px;
    margin: 10px;
    font-size: 30px;
    color: white;

}

#profile-description {
    border: 3px solid rgba(255, 255, 255, .2);
    height: 100%;
    width: 100%;
    padding: 5px;
    border: none;

    cursor: pointer;
    border-radius: 20px;
}

#profile-description:hover {
    border-color: rgba(255, 255, 255, .2);
}

.modify-button-container {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 22%;
    margin-top: 10%;
    margin-right: 15px;
    padding: 10px;
    font-size: 40px;
    font-family: poppins;
    color: #fff;
}

.edit-button {
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 5px;
    border-radius: 10px;
}

.edit-button:hover {
    background: rgba(255, 255, 255, .2);
}

.save-button {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 4px solid rgba(255, 255, 255, .2);
    margin: 5px;
    border-radius: 10px;
}

.save-button:hover {
    background: rgba(255, 255, 255, .2);
}


.delete-button {
    width: 100%;
    height: 50px;
    background: transparent;
    margin: 5px;
    border-radius: 10px;
}

.delete-button:hover {
    background: rgba(255, 255, 255, .2);
}
