@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-main-layout {
    display: flex;
    flex-direction: row;
    height: 49vmax;
    width: 98vmax;
    background-position: center;
    border-radius: 50px;
    margin: 5px;
}

.student-leftside-div {
    display: flex;
    flex-direction: column;
    background-position: center;
    height: 99%;
    width: 60%;
}

.login-as-text {
    display: flex;
    flex-direction: row;
    background-position: center;
    margin-left: 5%;
    font-size: 90px;
}

.student-text {
    display: flex;
    flex-direction: row;
    background-position: center;
    margin-top: -20px;
    margin-left: 10%;
    font-size: 90px;
}

.email-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    align-content: center;
    margin-top: 60px;
    width: 60%;
    height: 10%;
    background-color: #e4e4e4;
    border-radius: 65px;
    font-size: 16px;
    font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.email-text {
    font-size: 30px;
    padding: 23px;
    color: #b1b1b1;
}

.password-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    align-content: center;
    margin-top: 30px;
    width: 60%;
    height: 10%;
    background-color: #e4e4e4;
    border-radius: 65px;
    font-size: 16px;
    font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.password-text {
    font-size: 30px;
    padding: 23px;
    color: #b1b1b1;
}

.remember-me-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    align-content: center;
    margin-top: 30px;
    width: 60%;
    height: 10%;
    background-color: #e4e4e4;
    border-radius: 65px;
    font-size: 16px;
    font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.remember-me-text {
    font-size: 30px;
    padding: 23px;
    color: #b1b1b1;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    align-content: center;
    margin-top: 30px;
    width: 60%;
    height: 10%;
    background-color: #e4e4e4;
    border-radius: 65px;
    font-size: 16px;
    font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.login-text {
    font-size: 30px;
    padding: 23px;
    color: #b1b1b1;
}

/*------------------- STUDENT RIGHSIDE DIV-----------------------*/
.rightside-div {
    display: flex;
    flex-direction: column;
    background-position: center;
    height: 100%;
    width: 40%;

}

.student-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    align-content: center;
    overflow: hidden;
    font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
    width: 80%;
    height: 70%;
    background-color: #e4e4e4;
    border-radius: 45px;
}


/*---------------THIS IS FOR THE PAGE OF THE TECHNICIAN--------------*/
/*------------------- TECHNICIAN LEFTSIDE DIV-----------------------*/

.technician-leftside-div {
    display: flex;
    flex-direction: column;
    background-position: center;
    height: 99%;
    width: 60%;
}

.technician-text {
    display: flex;
    flex-direction: row;
    background-position: center;
    margin-top: -20px;
    margin-left: 10%;
    font-size: 90px;
}

/*------------------- TECHNICIAN RIGHTSIDE DIV-----------------------*/
.technician-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    align-content: center;
    overflow: hidden;
    font-style: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
    width: 80%;
    height: 70%;
    background-color: #e4e4e4;
    border-radius: 45px;
}
