@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;    /* Reset margin */
    padding: 0;    /* Reset padding */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-main-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-image: url('images/computer-lab.jpg');
    background-size: cover;
    border-radius: 10px;
    margin: 1px;
}

.leftside {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 100%;
    width: 50%;
}

.leftside-div-1 {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    margin-left: 5px;
    margin-top: 10px;
}

.dlsu-logo {
    display: flex;
    flex-direction: row;    /*you may remove this since it has the same result/output*/
    justify-content: space-between;    /* to put a space between the two actions-group*/
}

.dlsu-logo-1 {    /*TO REMOVE THE MARGIN AND PADDING OF AN INCLINE-BLOCK*/
    margin-top: 1px;
}

.dlsu-logo-1>li {
    display: inline-block;
    height: 70px;
    width: 70px;
}

.dlsu {
    width: 30px;
    height: 30px;
    background-image: url('images/dlsu.png');
    background-position: center;
    background-size: contain;
}

.school-name {
    color: aliceblue;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
}


.leftisde-div-2 {
    display: flex;
    flex-direction: column;
    height: 6.5%;
    width: 100%;
}

.leftside-welcome-text {
    color: aliceblue;
    font-size: 25px;
    margin-left: 50px;
    font-family: poppins;
}

.leftside-div-3 {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
}

.register-container {
    display: flex;
    flex-direction: row;    /*you may remove this since it has the same result/output*/
    justify-content: space-between;   /* to put a space between the two actions-group*/
    margin-left: 10px;
}

.register-container:hover {
    display: flex;
    flex-direction: row;    /*you may remove this since it has the same result/output*/
    justify-content: space-between;    /* to put a space between the two actions-group*/
}
.register>li {
    display: inline-block;
    width: 215.5px;
    height: 75.3px;
}

.register>li:hover {
    display: inline-block;
    width: 215.5px;
    height: 75.3px;
}

.register-button {
    width: 25px;
    height: 25px;
    background-image: url('images/register-white.png');
    background-position: center;
    background-size: contain;
}

.register-button:hover{
    width: 25px;
    height: 25px;
    background-image: url('images/register-gray.png');
    background-position: center;
    background-size: contain;
}

.leftside-div-4 {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 100%;
}

.leftside-subdiv-4-1 {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
}

.asterisk-container {
    display: flex;
    flex-direction: row;
    margin: 0px;

}

.asterisk>li {
    display: inline-block;
    height: 70px;
    width: 70px;
}

.asterisk-icon {
    background: url('images/asterisk.png') no-repeat;
    background-position: center;
    background-size: contain;
}

.reserve-description-1 {
    color: aliceblue;
    font-size: 50px;
    margin-left: 37px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.reserve-description-2 {
    color: aliceblue;
    font-weight: bold;
    font-size: 50px;
    margin-left: 75px;
    margin-top: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}

/*-------------------------------------------------*/
.rightside {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 50px;
    height: 100%;
    width: 50%;
}

.rightside-div-1 {
   display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 15%;
    width: 100%;
    margin-right: 50px;
    margin-top: 10px;
}


.login-container {
    display: flex;
    flex-direction: row;
}

.login>li {
    display: inline-block;
    width: 215.5px;
    height: 75.3px;
}

.login-button {
    background: url('images/login-white.png') no-repeat;
    background-position: center;
    background-size: contain;
}


.login-container:hover {
    display: flex;
    flex-direction: row;
 }

.login>li:hover {
display: inline-block;
 width: 215.5px;
height: 75.3px;
}

.login-button:hover {
    background: url('images/login-gray.png') no-repeat;
    background-position: center;
    background-size: contain;
}

.rightside-div-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50%;
    width: 100%;
    margin-right: 50px;
    margin-top: 10px;
}

.check-slots-container {
    display: flex;
    justify-content: center;
    flex-direction: column;  
    align-content: center;
    width: 65%;
    height: 95%;
    background-color: #fafafa;
    border-radius: 60px;
    font-size: 16px;
    overflow: hidden;
}


.upper-container{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;  
    width: 50%;
    height: 50%;
    border-radius: 50px;
    font-size: 16px;
    overflow: hidden;
}


.view-availability {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;  
    width: 93%;
    height: 40%;
    background-color: #e4e4e4;
    border-radius: 65px;
    font-size: 16px;
    overflow: hidden;
}


.availability-text {  
    height: 30%;
    color: rgb(7, 7, 7);
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    margin-left: 30px;
}

.reserved-text {
    height: 15%;
    color: rgb(7, 7, 7);
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    margin-left: 30px;
}
