@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.navigation-title-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100%;
    width: 10%;
    margin-left: 16%;
}

.navigation-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    width: 50%;
    height: 100%;
    padding: 6px 14px;
    transition: 0.5s;

}

.nav-main-container {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, .2);
    height: 920px;
    width: 1570px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 16%;

}

/*Global Variables for dashboard*/
.text {
    font-weight: bold;
    text-align: left;
    justify-content: center;
    background: transparent;
    color: #fff;
    margin-left: 20px;
    height: 15px;
    width: 660px;
    font-size: 25px;
}

.inner-container {
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    height: 500px;
    width: auto;
    margin: 20px;
}



.slot-content::-webkit-scrollbar {
    width: 4px;
}

.slot-content::-webkit-scrollbar-thumb {
    background-color: #e6e2e2;
    border-radius: 10px;
}

.slot-content::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 10px;
}


.slot-content li {
    list-style-type: none;
}


.slot-content li:hover {
    background-color: rgba(20, 34, 14, 0.473);

}

/*UPPER CONTAINER - USER DESCRIPTION & LIST OF CHOSEN RESERVED SLOTS----------------*/
.up-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 475px;
    width: 1585px;
}

.up-left-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 460px;
    width: 400px;
    margin: 20px;
    margin-left: 60px;
}

.profile-description-inner-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: auto;
    padding: 20px;
}

.user-description-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    overflow: hidden;
    height: 200px;
    margin-top: 15px;

}

.input-description-container {
    display: flex;
    color: white;
    height: 100%;
    width: 100%;
    padding: 7px;
    font-size: 20px;

}

.anonymous-status {
    display: flex;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .2);
    color: #fff;

    font-size: 25px;
    height: 80px;
    width: 360px;
}

#profile-description {
    display: flex;
    overflow: auto;
    border: 2px solid rgba(255, 255, 255, .2);
    height: 100%;
    width: 350%;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

#profile-description:hover {
    border-color: rgba(255, 255, 255, .2);
}

#profile-description::-webkit-scrollbar {
    width: 8px;
}

#profile-description::-webkit-scrollbar-thumb {
   background-color: white;
    border-radius: 10px;
}

#profile-description::-webkit-scrollbar-track {
     background-color: #888;
    border-radius: 10px;
}


.status-inner-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: auto;
    padding: 20px;


}

.anonymous-status {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    width: 330px;
    height: 35px;
    text-align: center;
    margin-left: 24px;
}


.up-right-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
   
    height: 460px;
    width: 1000px;
    margin: 20px;
    margin-right: 60px;
}



.chosen-slot-content {
    display: flex;

    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 10px;
    height: 360px;
    width: auto;

    overflow-y: auto;
    color: rgb(255, 255, 255);
      font-size: 20px;
}



.down-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    flex-direction: row;
    height: 600px;
    width: auto;
}

.down-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 375px;
    width: 695px;
    margin: 20px;
}

.available-slot-content {
    display: flex;

    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 10px;
    height: 360px;
    width: auto;

    overflow-y: auto;
    color: rgb(255, 255, 255);
       font-size: 20px;
}

.down-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 375px;
    width: 695px;
    margin: 20px;
}

.reserve-slot-content {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 10px;
    height: 360px;
    width: auto;
    overflow-y: auto;
    color: rgb(255, 255, 255);
    font-size: 20px;

}
