<div class="debtItemContainer">
    <div class="debtInfo">
        <!-- Uses the toLocale helper defined in [root]/index.js -->
        <span class="dateLabel"> Last Updated: {{toLocale lastUpdated}} </span>
        <span class="nameLabel"> {{accountName}} </span> 
    </div>
    <span class="debtAmount">
        ₱{{debtAmount}} 
    </span>
</div>
