@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");


@font-face {
    font-family: Butler;
    src: url(fonts//Butler/Butler_Bold.otf);
}

@font-face {
    font-family: Chloe;
    src: url(fonts//Chloe-Regular.otf);
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url('images/computer-lab.jpg');
}

.container-main-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    margin: 1px;
}


.leftside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    backdrop-filter: blur(40px);
}

.leftside-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 15%;
    width: 100%;
    margin-right: 50px;
    margin-top: 10px;
}

.lines-container {
    display: flex;
    flex-direction: row;
    margin: 0px;

}


.lines>li {
    display: inline-block;
    height: 70px;
    width: 70px;
    margin-left: 0%;
    margin-top: -50px;
}

.lines-icon {
    background: url('images/lines.png') no-repeat;
    background-position: center;
    background-size: contain;
}


.leftside-div-1-text {
    color: rgb(255, 255, 255);
    font-size: 150px;
    margin-left: 50px;
    font-family: Poppins;
}

.leftside-div-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 70%;
    width: 100%;
    margin-right: 10px;
    margin-top: -20px;
}

.student-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100px;
    width: 400px;
    margin-left: 40px;

}

.button {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 10px;
  
}

.button a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 50px;
    height: 100px;
    width: 400px;
    border-radius: 10px;
}

.button a:hover {
    background: rgba(20, 34, 14, 0.356);
}


.leftside-div-2-text {
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: poppins;

}


.technician-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100px;
    width: 400px;

    margin-left: 40px;

}


.rightside {
    display: flex;
    flex-direction: column;
    background: transparent;
    margin-top: 10px;
    margin-right: 50px;
    height: 100%;
    width: 60%;
    background-size: cover;
    margin: 1px;

}
