<title>Student Profile</title>
<link rel="stylesheet" href="/static/css/4-home-page.css">
<script src="/static/js/script.js" defer></script>
<script src="/static/js/student.js" defer></script>
{{> techNavbar}}



<script>
    document.addEventListener('DOMContentLoaded', async () => {
        updateUserName(); // Call the updateUserName function
    });
</script>
